# Datenbanken

Python kann mit verschiedenen Datenbanken umgehen: PostgreSQL, MariaDB, Microstft SQLServe und Oracle. Als lokale Datenbank steht z.B. auch SQLite zur Verfügung.  
Für die Verbindungsaufnahme benötigt Python ein passendes Datenbankmodul, das für alle gängigen Datenbanken verfügbar ist:

- PostgreSQL: psycopg
- mariaDB: mysql
- SQLite: sqlite3  

Das passende Modul wird importiert und dessen Methode connect() aufgerufen. Diese liefert ein Connection-Objekt zurück, das für die weiteren Datenbankzugriffe verwendet wird, die dann für alle Datenbanken gleich ist.

In [ ]:
import sqlite3
connection = sqlite3.connect("company.db")
cursor = connection.cursor()
cursor.execute("""drop table if exists employee;""")

sql_command = """
CREATE TABLE employee ( 
staff_number INTEGER PRIMARY KEY, 
fname VARCHAR(20), 
lname VARCHAR(30), 
gender CHAR(1), 
joining DATE,
birth_date DATE);"""
cursor.execute(sql_command)

sql_command = """INSERT INTO employee 
    (staff_number, fname, lname, gender, birth_date)
    VALUES (NULL, "William", "Shakespeare", "m", "1961-10-25");"""
cursor.execute(sql_command)

sql_command = """INSERT INTO employee 
    (staff_number, fname, lname, gender, birth_date)
    VALUES (NULL, "Frank", "Schiller", "m", "1955-08-17");"""
cursor.execute(sql_command)
# Nicht vergessen die Aktionen zu commiten!
connection.commit()
connection.close()

Der folgende Code führt ein Datenbank-INSERT aus. Es werden gleich mehrere Datensätze über eine Liste eingefügt.  
 <font color="red">Schauen Sie sich den Code an, welche neuen Befehle erkennen Sie? Verändern Sie den Code so, dass Fehler ausgelöst werden.</font>

In [ ]:
import sqlite3
import sys

newEmployees = (
    ("Heinrich", "Goethe", "m", "1967-11-25"),
    ("Klaus", "Kleist", "m", "1978-09-20"),
    ("Claudia", "Kleiner", "f", "1969-12-31"))

sql_command = """INSERT INTO employee 
    (fname, lname, gender, birth_date)
    VALUES (?,?,?,?);"""

try:
    connection = sqlite3.connect("company.db")
    cursor = connection.cursor()
    cursor.executemany(sql_command, newEmployees)
	
except sqlite3.Error as er:

    if connection:
        connection.rollback()
        connection.close()

    print ("Error %s:" % er.args[0])
    sys.exit(1)	

connection.commit()
connection.close()

Die beiden folgenden Codebeispiele führen nun ein SELECT auf die Datenbank durch.  
<font color="red">Schauen Sie sich den Code an, worin bestehen die Unterschiede der beiden Scripte?</font>

In [ ]:
import sqlite3
connection = sqlite3.connect("company.db")
cursor = connection.cursor()
cursor.execute("SELECT * FROM employee")
rows = cursor.fetchall()

for row in rows:
   print (row)

In [ ]:
import sqlite3 as lite
con = lite.connect('company.db')    

with con:
    
    con.row_factory = lite.Row
       
    cur = con.cursor() 
    cur.execute("SELECT * FROM employee")

    rows = cur.fetchall()
    for row in rows:
        print ("%s %s %s" % 
		    (row["staff_number"], row["fname"], row["lname"]))